<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/components/chat.css">
</head>

<body>

    <!--Agent Configuration & Logout-->
    <nav class="navbar">
        <ul class="navbar__list">
         
            <li class="navbar__item navbar__item--logout">
            Logout
            </li>
            <li class="navbar__item navbar__item--select">
            <select class="navbar__select">
                <option class="navbar__select--option" value="GPT-5">GPT-5 (OpenAI)</option>
                <option class="navbar__select--option" value="Claude">Claude (Anthropic)</option>
                <option class="navbar__select--option" value="Claude">Gemini (Google DeepMind)</option>
            </select>
               <li class="navbar__item navbar__item--llm">
                    Large Language Model:
                </li>
            </li>
        </ul>
    </nav>

    <!--AI Agent response-->
    <section class="agent-output-wrapper">
        <div class="output-group">
            <h1 class="output-group__title">Batman (AI Agent)</h1>
            <h2 class="output-group__subtitle">

            </h2>

            <hr />

            <h3 class="output-group__answer">
                
            </h3>
        </div>
    </section>

    <!--User's input-->
    <section class="chat-input-wrapper">
        <form class="input-group" onsubmit="sendMessage(); return false;">
            <input
                class="input-group__input"
                id="messageInput"
                type="text"
                placeholder="Ask anything..."
                autocomplete="off"
            >
            <button type="submit" class="input-group__button">Send</button>
        </form>
    </section>

    <div class="chatContainer">
        <div class="chatHeader">
            <h3>Chat</h3>
        </div>
        <div class="chatMessages">

        </div>
    </div>

    <script src="/static/js/chat.js"></script>
</body>
</html>