body {
    margin: 0;
    padding: 0;
}

:root {
  --primary-color: #0693e3;
  --primary-color-hover: #22a4ef;
  --primary-color-active: #8ed1fc;
  --secondary-color: black;
  --secondary-color-hover: #3f3e3e;
  --secondary-color-active: rgb(116, 118, 119);
}