body {
    margin: 0;
    padding: 0;
}

    /* HERO */
    .hero {
      height: 90vh;
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                  url('/static/assets/landing-page.png');

      background-size: cover;
      background-position: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      padding: 20px;
      padding-left: 10%;
      padding-top: 8%;
    }

    .hero h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }

    /* FEATURES */
    .features {
      padding: 60px 10%;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .feature {
      width: 30%;
    }

    .feature h3 {
      margin-bottom: 15px;
    }

    /* Call To Action */
    .cta {
      background: #f4f4f4;
      padding: 60px 10%;
      text-align: center;
    }

    .cta input {
      padding: 10px;
      width: 250px;
      margin-right: 10px;
    }



    /* FOOTER */
.footer {
  background-color: black;
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 25px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}

.footer p {
   margin-right: 30%;
}

.footerLink {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: 'Arial', sans-serif;
  font-style: italic;
  transition: color 0.3s ease;  
  padding-right: 1%;
}


.footerLink:hover {
  color: #539ff0;
}
    /* RESPONSIVE */
    @media(max-width: 768px) {
      .features {
        flex-direction: column;
      }

      .feature {
        width: 100%;
        margin-bottom: 30px;
      }
    }